page-home {
}
  button a {
    color:white;
    margin: auto;
   padding: auto;
    position: relative;
    float: left;
      }


  .logo img{
      margin: auto;
    }

   .symbol img{
      display: block;
     margin-right:-20%;
      margin-top: 20px;

    }




